<%- include('../partials/header') %>



<h2>Current Workout Schedule</h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Details</th>
    </tr>
  </thead>

  <%
  // make the workout schedule display monday - sunday regardless of when a workout is added
  const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
  const sortedWorkouts = workouts
    .map(w => ({ dayIndex: days.indexOf(w.day), workout: w }))
    .sort((a, b) => a.dayIndex - b.dayIndex)
    .map(obj => obj.workout);
%>

  <tbody>
    <% sortedWorkouts.forEach(w => { %>
    <tr>
      <td><%= (w.day) %></td>
      <td><a href="/workouts/<%= w._id %>">Full Workout Information</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<h3>Workout Schedule as of <%= time %></h3>

<%- include('../partials/footer') %>
