<%- include('../partials/header') %>

<!-- adjust the date of workout to display mm/dd/yy with 12 hour cycles -->
<% function formatDate(date) { const formattedDate = new
Date(date).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year:
'2-digit', hour: '2-digit', minute: '2-digit' }); return formattedDate; } %>

<h2>Recorded Workouts</h2>
<table>
  <thead>
    <tr>
      <th>Date (MM/DD/YY)</th>
      <th>Detailed Workout</th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(w => { %>

    <tr>
      <td><%= formatDate(w.date) %></td>
      <td><a href="/workouts/<%= w._id %>">Full Workout Information</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<h3>Logged Workouts as of <%= time %></h3>

<%- include('../partials/footer') %>
