<%- include('../partials/header') %>

<h2>Workout Schedule</h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Muscle Groups</th>
      <th>Cardio</th>
      <th>Intensity</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= workout.day %></td>
      <td><%= workout.muscleGroup %></td>
      <td><%= workout.cardio ? 'Sadly Yes' : 'Not Today'%></td>
      <td><%= workout.intensity %></td>
      <td><%= workout.time %></td>
    </tr>
  </tbody>
</table>


<div>Exercises:</div>
  <ul>
    <%- workout.exercises.map(e => `<li>${e.name}</li>`).join('') %>
  </ul> 

<form id="add-exercise" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
  <select name="exerciseId">
    <%- exercises.map(e => `<option value="${e._id}">${e.name}</option>`)%>
  </select>
  <button type="submit">Add to Workout</button>
</form>