<%- include('../partials/header') %>

<h2>Workout Schedule</h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Muscle Groups</th>
      <th>Cardio</th>
      <th>Intensity</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= workout.day %></td>
      <td><%= workout.muscleGroup %></td>
      <td><%= workout.cardio ? 'Sadly Yes' : 'Not Today'%></td>
      <td><%= workout.intensity %></td>
      <td><%= workout.time %></td>
    </tr>
  </tbody>
</table>



<br><h2>Exercises:</h2>
  <ul>
    <%- workout.exercises.map(e => `<li>${e.name}</li>`).join('') %>
  </ul> 

<form id="add-exercise" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
  <select name="exerciseId">
    <%- exercises.map(e => `<option value="${e._id}">${e.name}</option>`)%>
  </select>
  <button type="submit">Add to Workout</button>
</form>
<br>
<br><h2>Comments</h2>

<% if (workout.comments.length) { %>
<table>
  <thread>
    <tr>
      <th>Comment Left on</th>
      <th>Comment</th>
      <th>Delete Comment</th>
    </tr>
  </thread>
  <tbody>
    <% workout.comments.forEach(function(c) { %>
      <tr>
        <td> <%= c.createdAt.toLocaleString() %></td>
        <td> <%= c.content %> </td>
        <td>
          <% if (user?._id.equals(c.user)) { %>
            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
          <% } %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
  <h4>Be the first to comment on this workout</h4>
<% } %>


<br><br>
<% if (user){ %>
  <form id="add-comment-form" method="POST"
    action="/workouts/<%= workout._id %>/comments">
    <label>Comments:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
<% } %>

<%- include('../partials/footer') %>