<%- include('../partials/header') %>

<!-- adjust the date of workout to display mm/dd/yy with 12 hour cycles -->
<% function formatDate(date) { const formattedDate = new
  Date(date).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year:
  '2-digit', hour: '2-digit', minute: '2-digit' }); return formattedDate; } %>


<h2>Workout Schedule</h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Muscle Groups</th>
      <th>Cardio</th>
      <th>Intensity</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= workout.day %></td>
      <td><%= workout.muscleGroup %></td>
      <td><%= workout.cardio ? 'Sadly Yes' : 'Not Today'%></td>
      <td><%= workout.intensity %></td>
      <td><%= workout.time %></td>
    </tr>
  </tbody>
</table>


<div>Exercises:</div>
  <ul>
    <%- workout.exercises.map(e => `<li>${e.name}</li>`).join('') %>
  </ul> 

<form id="add-exercise" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
  <select name="exerciseId">
    <%- exercises.map(e => `<option value="${e._id}">${e.name}</option>`)%>
  </select>
  <button type="submit">Add to Workout</button>
</form>