<%- include('../partials/header') %>


<h1>All Currently Listed Exercises</h1>

<table>
    <thead>
      <tr>
        <th>Exercise Name</th>
        <th>Type</th>
        <th>Muscle Target</th>
      </tr>
    </thead>
    <tbody>
      <% exercises.forEach(e => { %>
  
      <tr>
        <td><%= e.name %></td>
        <td><%= e.type %></td>
        <td><%= e.muscleTarget %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

<h3>Registered Users Please Add to the List</h3>

<%- include('../partials/footer') %>